<div id= "container">

<div id="avatar">
                
                  <a href="#">
                    <img class="rounded-circle img-raised" src="http://image.noelshack.com/fichiers/2018/46/2/1542105689-test-000.jpg

">
                  </a>

                <div class="card-body">
                  <h4 class="card-title"><font color="white">Alexandre Lovergne</font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Designer</font>
                  </h6></strong></em>
                <div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. Drives the technical strategy of the platform.</font></em>
                    
                  </p>
                </div>
                  <button id="user_new_submit" type="submit" name="signup_form" class="btn btn-primary btn-round btn-lg">View Profile</button>
                </div></br>

              </div>
            </div>