<div id= "Headers">

<br></br>
<br></br>
      <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="http://image.noelshack.com/fichiers/2018/46/2/1542105689-test-000.jpg" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Alexandre Lovergne</font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Designer</font>
                  </h6></strong></em>
                <div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. Drives the technical strategy of the platform.</font></em>
                    
                  </p>
                </div>
                  <button id="user_new_submit" type="submit" name="signup_form" class="btn btn-success btn-round btn-lg">Voir plus</button>
                </div></br>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://im.haberturk.com/2018/07/04/ver1530700566/2044660_140x140.jpg" width="140" height="140">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Maxime Martin </font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Sales</font>
                  </h6></strong></em>
                <div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. Drives the financial strategy of the platform.</font></em>
                    
                  </p>
                </div>
                  <button id="user_new_submit" type="submit" name="signup_form" class="btn btn-success btn-round btn-lg">Voir plus</button>
                </div></br>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://image.gala.de/20552398/large1x1-140-140/27e91c31dedfa9cba79332353465efb2/hO/bill-gates-cm--8595891-.jpg" alt="Generic placeholder image" width="140" height="140">
            <div class="card-body">
                  <h4 class="card-title"><font color="white">Corentin Nadeau</font></h4>
                  <h6 class="category text-gray">
                    <em><strong><font color="white">Data Analyst</font>
                  </h6></strong></em>
                <div>
                  <p class="card-description">
                    <em><font color="white">Co-founders. Drives the technical strategy of the Data.</font></em>
                    
                  </p>
                </div>
                  <button id="user_new_submit" type="submit" name="signup_form" class="btn btn-success btn-round btn-lg">Voir plus</button>
                </div></br>
        </div><!-- /.row -->
    </div>
